@font-face {
  font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

form.fluent_form_2 .wpf_has_custom_css.ff-btn-submit {
  background-color: $red !important;
  border-color: $red !important;
  color: #ffffff;
  min-width: 50%;
  width: 50%;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: $white !important;
  background-color: $black !important;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}