// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$red: #FF1843;
$blue: #012169;
$grey: #D1D3D4;
$mid-grey: #F2F2F2;
$white: #FFFFFF;
$black: #000000;

$font-family-base: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Source Sans Pro', sans-serif;

$primary: $red;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $black;