.about-banner {
   h1 {
     font-weight: 700;
   }

  .lead {
    color: #475467;
  }

  .dots {
    position: absolute;
    top: 20%;
    left: 0;
    width: 250px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}