.image-right-cta {
  h2 {
    font-weight: 700;
  }
  .lead {
    color:#475467;
  }
  .dots {
    position: absolute;
    left: 0;
    top: 20%;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}