.red-bg-image-left {
  background-color: $red;

  h2 {
    color: $white;
    font-weight: 700;
  }

  p {
    color: $white;
  }

  .lead {
    color: $white;
  }

  .image-section {

    .content {
      background: rgba(255, 255, 255, 0.3);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      /* Background blur / lg */
      backdrop-filter: blur(12px);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      p {
        color: $white;
      }
    }
  }

}