.stats {
    background-color: $black;
  .icon {
    background-color: $red;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;

    i {
        font-size: 1em;
        color: $white;
    }
  }

  h2 {
    color: $white;
    font-weight: 700;
  }
  .lead {
    color: $white;
  }
  p {
    color: $white;
  }

  .stat {
    color: $white;
    .number {
      color: $white;
      font-weight: 700;
      font-size: 5em;
    }
    .text {
      color: $white;
    }
  }
}